body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards {
  display: flex;
}

#cards article {
  width: 200px;
  border: 1px solid black;
  padding: 0px 20px 20px;
  border-radius: 20px;
  background-color: #828282;
  color: white;
  transition: all 0.5s linear 0s;
}

#card-1 {
  z-index: 1;
  transform: rotate(-15deg) translate(30px, 50px);
}

#card-2 {
  z-index: 2;
}
#card-3 {
  z-index: 3;
  transform: rotate(15deg) translate(-30px, 50px);
}

#cards article:hover {
  background-color: orange;
  color: black;
  z-index: 10;
  transform: scale(1.2);
}
