body {
  background-color: #969696;
  font-family: Arial, Helvetica, sans-serif;
}

article > div {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

article > div > p {
  margin: 0;
}

.LONG {
  background-color: rgb(113, 24, 24);
  /*applichiamo una TRANSITION per applicare gradualmente il cambio di width*/
  /* devo indicare a COSA (width) per quanto tempo (3s) e la CURVA-ACCELERAZIONE */
  transition: width 3s linear 0s;
}
.LONG:hover {
  width: 400px;
}

.color {
  background-color: pink;
  transition: backgroundcolor 4s linear 0s;
}

.color:hover {
  background-color: beige;
}

.move {
  background-color: burlywood;
  transition: transform 1s linear 0s;
}

.move:hover {
  transform: translateX(600px);
}

.crazy {
  background-color: cornflowerblue;
  transition: all 2s linear;
}

.crazy:hover {
  background-color: aqua;
  transform: rotate(1turn) translateX(150px);
  font: size 2em;
}

/* se voglio applicare 2 transitions (una quando arrivo con il mouse, una quando vado via)
la applichiamo DUE VOLTE.
La prima volta nella classe (quando andiamo via con il mouse)
La seconda nell'HOVER (quando arriviamo con il mouse)*/

.movedouble {
  background-color: darkgreen;
}
.movedouble:hover {
  transform: translateX(150px);
  transition: transform 2s linear 0.5s;
}
